<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id="hpprint" class="in.AtmServices.www.HpPrinter"/>
	<bean id="csm" class="in.AtmServices.www.CashMachine">
		<constructor-arg name="printer" ref="hpprint"></constructor-arg>
	</bean>
	<bean id="grocessoryStore" class="in.AtmServices.www.Asda"></bean>
	<bean id="grocessoryStoreImpl" class="in.AtmServices.www.GrocessortStoreImplementation">
		<constructor-arg name="gc" ref="grocessoryStore"></constructor-arg>
	</bean>
</beans>